<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

    <!--    ${} 与 #{} 区别【笔试题】-->
    <!--    #{} :表示一个占位符号-->
    <!--    通过#{} 可以实现preparedStatement向占位符中设置值，自动进行java类型和jdbc类型转换，#-->
    <!--    {}可以有效防止sql注入。-->
    <!--    #{} 可以接收简单类型值或pojo属性值。-->
    <!--    如果parameterType传输单个简单类型值， #{} 括号中名称随便写。-->
    <!--    ${} :表示拼接sql串-->
    <!--    通过${} 可以将parameterType 传入的内容拼接在sql中且不进行jdbc类型转换，会出现sql注入-->
    <!--    问题。-->
    <!--    ${} 可以接收简单类型值或pojo属性值。-->
    <!--    如果parameterType传输单个简单类型值， ${} 括号中只能是value。-->
    <!--    补充：TextSqlNode.java 源码可以证明-->

    <!--
        Mapper.xml映射文件中的namespace与mapper接口的全限定名相同
        Mapper接口方法名和Mapper.xml映射文件中定义的每个statement的id相同
        Mapper接口方法的输入参数类型和mapper.xml映射文件中定义的每个sql的parameterType的类型相同
        Mapper接口方法的输出参数类型和mapper.xml映射文件中定义的每个sql的resultType的类型相同
    -->
<mapper namespace="top.luobogan.mapper.UserMapper">

    <!--  根据id查询用户  resultType使用全限定类名，起了别名的话可以使用别名  #{id}这里的id可以随便起名    -->
    <select id="findUserById" parameterType="int" resultType="top.luobogan.pojo.User">
        select * from user where id = #{id}
    </select>

    <!--  手动配置实体属性与表中字段的映射关系，完成手动封装  -->
    <!--  id：标签的唯一标识  type：封装后的实体类型  -->
    <resultMap id="userResultMap" type="top.luobogan.pojo.User">
        <!--  手动配置映射关系  -->
        <!--  id 用来配置主键  property 对应实体中的属性名 column对应数据表的字段名  -->
        <id property="id" column="id"></id>
        <!--  result就是对表中普通字段封装  -->
        <result property="username" column="username"/>
        <result property="birthday" column="birthday"/>
        <result property="sex" column="sex"/>
        <result property="address" column="address"/>
    </resultMap>

    <resultMap id="ordersUserMap" type="top.luobogan.pojo.User">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="birthday" column="birthday"/>
        <result property="sex" column="sex"/>
        <result property="address" column="address"/>

        <!--  注意collections是关键  -->
        <collection property="ordersList" ofType="top.luobogan.pojo.Orders">
            <!--  这里给Orders表中的id起了别名叫oid，因此column为oid  -->
            <id property="id" column="oid"/>
            <result property="ordertime" column="ordertime"/>
            <result property="total" column="total"/>
            <result property="uid" column="uid"/>
        </collection>
    </resultMap>

    <select id="findAllResultMap"  resultMap="userResultMap">
        select * from user
    </select>

    <!--  多条件查询方式一：使用 #{arg0}-#{argn} 或者 #{param1}-#{paramn} 获取参数  这里的parameterType可以不用配置 -->
    <select id="findByIdAndUsername" resultMap="userResultMap">
        select * from user where id = #{arg0} and username = #{arg1}
    </select>

    <!--  多条件查询方式二：使用 @param() 注解 -->
    <select id="findByIdAndUsername2" resultMap="userResultMap">
        select * from user where id = #{id} and username = #{username}
    </select>

    <!--  多条件查询方式三：推荐使用，传入参数为user实体 -->
    <select id="findByIdAndUsername3" resultMap="userResultMap" parameterType="user">
        select * from user where id = #{id} and username = #{username}
    </select>

    <!--  模糊查询方式一：因为传入类型为基本数据类型且个数只有一个，所以#{}里面的值可以随便写 -->
<!--    <select id="findByUsername" resultMap="userResultMap" parameterType="String">-->
            <!--  #{} 在Mybatis中代表占位符，引用参数值的时候会自动的添加''  -->
<!--        select * from user where username like #{username}-->
<!--    </select>  -->

    <!--  模糊查询方式二： -->
    <select id="findByUsername" resultMap="userResultMap" parameterType="String">
        <!--  parameterType 为基本数据类型或者String类型的时候 ${}里面的值只能写value -->
        <!--  ${} 代表SQL原样拼接 不会自动添加''   -->
        select * from user where username like '${value}'
    </select>

    <!--  添加用户获取返回主键：方式一
            useGeneratedKeys : 声明返回主键 keyProperty：表示将返回的值封装到实体类的哪个属性上
            注意：只适用于主键自增的数据库，mysql和sqlserver支持，oracle不行。
    -->
    <insert id="saveUser" parameterType="user" useGeneratedKeys="true" keyProperty="id">
        insert into user (username,birthday,sex,address) values (#{username},#{birthday},#{sex},#{address})
    </insert>

    <!--  添加用户获取返回主键：方式二
            useGeneratedKeys : 声明返回主键 keyProperty：表示将返回的值封装到实体类的哪个属性上
            注意：只适用于主键自增的数据库，mysql和sqlserver支持，oracle不行。
    -->
    <insert id="saveUser2" parameterType="user" >
        <!--
            selectKey 适用范围更广，支持所有类型数据库
            order="AFTER" 表示这条语句要在insert语句执行之后执行
            keyColumn: 指定主键对应的数据库的字段名
            keyProperty: 把返回主键的值，封装到实体中的哪个属性上
        -->
        <selectKey order="AFTER" keyColumn="id" keyProperty="id" resultType="int">
            select last_insert_id();
        </selectKey>
        insert into user (username,birthday,sex,address) values (#{username},#{birthday},#{sex},#{address})
    </insert>

    <!--
        where标签相当于 where 1=1，但是如果没有条件，就不会拼接where关键字
    -->
    <select id="findByIdAndUsernameIf" parameterType="user" resultType="user">
        SELECT * FROM user
        <where>
            <!--  test里面写的就是表达式  -->
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="username != null">
                AND username = #{username}
            </if>
        </where>
    </select>

    <!--
        set标签在更新的时候，自动加上set关键字，然后去掉最后一个条件的逗号
    -->
    <update id="updateIf" parameterType="user">
        UPDATE user
        <!--  注意这里每一句结尾都有一个逗号  -->
        <set>
            <if test="username != null">
                username = #{username},
            </if>
            <if test="birthday != null">
                birthday = #{birthday},
            </if>
            <if test="sex !=null">
                sex = #{sex},
            </if>
            <if test="address !=null">
                address = #{address},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <!--
        如果查询条件为普通类型 List集合，collection属性值为：collection 或者 list
    -->
    <select id="findByList" parameterType="list" resultType="user" >
        SELECT * FROM user
        <where>
            <!--
                collection: 代表要遍历的集合元素 通常写collection或者list
                open: 代表语句的开始部分
                close：代表语句的结束部分
                item：代表遍历集合中的每个元素，生成的变量名
                separator：代表元素之间的分隔符
            -->
            <foreach collection="collection" open="id in(" close=")" item="id"
                     separator=",">
                #{id}
            </foreach>
        </where>
    </select>

    <!--
        如果查询条件为普通类型 Array数组，collection属性值为：array
    -->
    <!--  sql片段引入  -->
    <sql id="selectUser">
        select * from user
    </sql>
    <select id="findByArray" parameterType="int" resultType="user">
        <include refid="selectUser"/>
        <where>
            <foreach collection="array" open="id in(" close=")" item="id"
                     separator=",">
                #{id}
            </foreach>
        </where>
    </select>

    <select id="findAllWithOrders" resultMap="ordersUserMap">
        select u.*, o.id oid, o.ordertime, o.total, o.uid from orders o right join user u on o.uid = u.id
    </select>


    <resultMap id="userRoleMap" type="top.luobogan.pojo.User">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="birthday" column="birthday"/>
        <result property="sex" column="sex"/>
        <result property="address" column="address"/>

        <collection property="roleList" ofType="top.luobogan.pojo.Role">
            <id property="id" column="rid"/>
            <result property="rolename" column="rolename"/>
            <result property="roleDesc" column="roleDesc"/>
        </collection>


    </resultMap>
    <!--  多对多关联查询：查询所有用户以及用户对应的角色  -->
    <select id="findAllWithRole" resultMap="userRoleMap">
        select u.*, r.id rid, r.roleDesc, r.rolename from user u
                        left join sys_user_role ur ON u.id = ur.userid
                        left join sys_role r ON ur.roleid = r.id

    </select>

</mapper>